<a href="https://colab.research.google.com/github/vanditasharma777/Python_Data_Structure_Practice_Problems/blob/main/reverse_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reverse Element in a tuple

Tuples are immutable, i.e. tuples cannot be changed, the only way to reverse a tuple is to create a new tuple with the desired order of items.

In [1]:
tup1 = ("12", "34", "sage", "cage", "a", "vision", "7")
print(tup1)

('12', '34', 'sage', 'cage', 'a', 'vision', '7')

In [2]:
def revtup(tup1):
    tuple = tup1[::-1] #list[<start>:<stop>:<step>]
    return tuple

print(revtup(tup1))

('7', 'vision', 'a', 'cage', 'sage', '34', '12')

In [3]:
tup2 = tup1[::-1]
print(tup1,tup2)

('12', '34', 'sage', 'cage', 'a', 'vision', '7') ('7', 'vision', 'a', 'cage', 'sage', '34', '12')

In [4]:
tup_dict = dict(zip(tup1,tup2))
print(tup_dict)

{'12': '7', '34': 'vision', 'sage': 'a', 'cage': 'cage', 'a': 'sage', 'vision': '34', '7': '12'}

In [5]:

tup_dict["twelve"] = tup_dict.pop("12")
print(tup_dict)

{'34': 'vision', 'sage': 'a', 'cage': 'cage', 'a': 'sage', 'vision': '34', '7': '12', 'twelve': '7'}

We can also use the reversed() built-in function to reverse a tuple.

The reversed function takes a sequence and returns a reverse iterator object.

In [6]:
tup1 = ("12", "34", "sage", "cage", "a", "vision", "7")
revtup = tuple(reversed(tup1))
revtup

('7', 'vision', 'a', 'cage', 'sage', '34', '12')